		<footer class="container">
			<p>Copyright@2013 <a href="http://www.cngraph.com/" target="_blank"> cnGraph </a>  QQ：1801562039</p>
		</footer>
		<script src="/javascripts/jquery.js"></script>
		<script src="/javascripts/bootstrap.js"></script>
	</body>
</html>
