<form method="post" action="/post" class="well form-inline center" style="text-align:center;">
	<input type="text" class="span8" name="talkTitle" style="margin-bottom:15px;"><br/>
	<textarea class="span8" name="post" style="margin-bottom:15px;"></textarea><br/>
	<button type="submit" class="btn btn-success span2" style="margin-left:75px;"><i class="icon-comment icon-white"></i> 发表</button><br/><br/>
</form>
